

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
}

#heading {
    color: darkslategray;
    text-align: center;
}

table {
    margin: 50px;
    border: 1px solid black;
    border-radius: 3%;
    border-spacing: 2px;
}

thead {
    background-color: darkgrey;
}

th {
    font-size: 1.2em;
}

th, td {
    border: 1px solid darkslategray;
    padding: 4px;
    /* text-align: center; */
}