


/* NAVBAR */
.navbar-container {
  border: 2px solid red;
  width: 100%;
  margin-top: 4vh;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  width: 15vw;
  height: 15vh;
  border-radius: 50%;
  box-shadow: 0px 0px 33px -8px rgba(0,0,0,0.35);
}

.navbar-item {
  border: 2px solid blue;
  width: 15%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}