@import url("https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scheherazade&display=swap");

.background-image {
  filter: brightness(100%) sepia(10%);
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
}

/* Globally used components */
.divider-large {
  margin: 1vh;
  width: 85%;
  height: 0.2vh;
  background-color: #b3b1ae;
}

.divider-medium {
  width: 20vw;
  height: 0.2vh;
  background-color: #b3b1ae;
}

.divider-small {
  width: 10vw;
  height: 0.2vh;
  margin: 1vh 0;
  background-color: #b3b1ae;
}
/* End Globally used components */

/* NAVBAR */
.navbar-container {
  margin-left: 1vw;
  position: fixed;
  z-index: 10;
  opacity: 0.9;
  width: 95%;
  margin-top: 5vh;
  height: 5vh;
  display: flex;
  align-items: center;
}

.navbar-logo {
  margin-left: 1vw;
  z-index: 5;
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 33px -8px rgba(0, 0, 0, 0.35);
}

.home-icon {
  display: none;
  z-index: 999;
  position: absolute;
  left: 3vw;
  color: white;
  font-size: 2.5em;
}

.collapse-icon {
  display: none;
  z-index: 999;
  position: absolute;
  left: 7vw;
  color: white;
  rotate: 90deg;
  font-size: 2.5em;
}

.show {
  display: block;
}

.navbar-item {
  background-image: linear-gradient(
    to bottom,
    #838080,
    #787677,
    #6d6c6d,
    #636363,
    #595959,
    #595959,
    #595959,
    #595959,
    #636363,
    #6d6c6d,
    #787677,
    #838080
  );
  border: 2px double black;
  border-bottom: 2px double black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 13%;
  max-width: 300px;
  height: 100%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Spectral SC", serif;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

.navbar-item:not(:nth-child(4)):hover {
  /*every item but search bar*/
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transition: 0.05s;
  color: black;
}

#nav-dropdown-kategorien,
#nav-dropdown-artikel {
  width: 15%;
  max-width: 300px;
  color: white;
  text-decoration: none;
}

#nav-dropdown-kategorien:hover,
#nav-dropdown-artikel:hover {
  color: black;
}

.dropdown-menu.show {
  background-image: linear-gradient(
    to bottom,
    #838080,
    #787677,
    #6d6c6d,
    #636363,
    #595959,
    #595959,
    #595959,
    #595959,
    #636363,
    #6d6c6d,
    #787677,
    #838080
  );
}

.dropdown-item {
  color: white !important; /* override Bootstrap CSS*/
}

.dropdown-item:hover {
  color: black !important; /* override Bootstrap CSS*/
}

.dropdown-item:focus {
  background-color: white !important; /* override Bootstrap CSS*/
}

.search-form {
  margin-left: 2vw;
  margin-right: 2vw;
}

/* override Bootstrap CSS */
.search-form:focus {
  box-shadow: 0 0 5px rgba(250, 76, 76, 0.6) !important;
  border: 2px solid rgba(250, 76, 76, 0.6) !important;
}

.navbar-first {
  margin-left: -0.5vw; /* hide behind logo image*/
  width: 25%;
  cursor: inherit;
}

@media only screen and (max-width: 900px) {
  .navbar-logo,
  .navbar-container,
  .navbar-item,
  .search-form {
    display: none;
  }
}

/* END NAVBAR */

/* RECIPE MEDIUM-SIZE COMPONENT */
.recipe-medium-outer {
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  box-shadow: 2px 6px 12px -1px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  position: absolute;
  top: 30vh;
  left: 5%;
  width: 50%;
  max-width: 800px;
  height: auto;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.recipe-inner-column-1 {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 100%;
  border: 2px solid purple;
}

.recipe-inner-row-1 {
  width: 40%;
  height: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  border: 2px solid blue;
}

.recipe-inner-row-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border: 2px solid pink;
  height: auto;
  width: 60%;
}

.recipe-heading {
  margin: 0 2%;
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 3em;
}

.recipe-subheading {
  color: rgb(207, 204, 204);
  font-family: "Spectral SC", serif;
  font-size: 1.2em;
}

.recipe-text {
  margin: 0 5%;
  color: rgb(247, 240, 233);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.8em;
  text-align: justify;
}

.recipe-link {
  color: white;
  text-decoration: none;
}

.recipe-inner-column-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  border: 2px solid green;
}

.recipe-inner-row-container {
  border: 2px solid cyan;
  height: auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.recipe-medium-image {
  border-radius: 10%;
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.recipe-medium-background {
  filter: brightness(80%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recipe-icon {
  color: rgb(235, 198, 96);
  font-size: 1.5em;
}
/* END RECIPE MEDIUM-SIZE COMPONENT */

/* RECIPE LIST CONTAINER */
.recipe-list-container {
  position: relative;
  top: 17vh;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: auto;
  width: 80%;
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.recipe-list-heading-row {
  margin-top: 1vh;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-list-heading {
  margin: 0 1vh;
  color: black;
  font-family: "Spectral SC", serif;
  font-weight: bold;
  font-size: calc(1em + 0.7vw);
}

.recipe-list-entry {
  width: 90%;
  height: 15vh;
  margin: 1vh 0;
}
/* END RECIPE LIST CONTAINER */

/* RECIPE SMALL COMPONENT */
.recipe-small-container {
  height: 15vh;
  border: 2px solid red;
  width: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid rgba(151, 151, 151, 0.5);
  border-radius: 15px;
  box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.3);
}

.recipe-small-container:hover {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.recipe-small-column-1 {
  /* border: 2px solid blue; */
  margin-left: 1vw;
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;
  height: 90%;
  display: flex;
  align-self: center;
}

.recipe-small-column-2 {
  /* border: 2px solid purple; */
  width: 90%;
  height: auto;
  max-height: 15vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  overflow: hidden;
}

.recipe-small-row-1 {
  /* border: 2px solid greenyellow; */
  height: 25%;
  width: 100%;
}

.recipe-small-row-2 {
  /* border: 2px solid greenyellow; */
  height: 50%;
  max-height: 15vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .recipe-small-row-2 {
    display: none;
  }
}

.recipe-small-row-3 {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.row-inner-container {
  margin-top: 10px;
  width: auto;
  height: auto;
  max-height: 3vh;
  display: flex;
  flex-direction: row;
  /* border: 2px solid cyan */
}

.recipe-small-image {
  border-radius: 15px;
  width: 160px;
  max-width: 160px;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recipe-small-heading {
  margin-bottom: 3px;
  margin-left: 1vw;
  color: black;
  font-family: "Dancing Script", cursive;
  font-size: calc(1em + 0.7vw);
}

@media only screen and (max-width: 900px) {
  .recipe-small-heading {
    text-align: center;
  }
}

.recipe-small-text {
  margin-left: 1vw;
  width: 95%;
  text-align: justify;
  font-size: 0.8em;
  color: black;
}

.recipe-icon-small {
  margin-right: 7px;
  color: rgb(235, 198, 96);
  font-size: 1.2em;
}

.recipe-subheading-small {
  margin-right: 5px;
  color: rgb(207, 204, 204);
  font-family: "Spectral SC", serif;
  font-size: 1em;
}

/* END RECIPE SMALL COMPONENT */

/* SINGLE RECIPE PAGE */
.single-recipe-container {
  position: relative;
  top: 17vh;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: auto;
  width: 90%;
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.single-recipe-heading-row {
  margin-top: 1vh;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  width: auto;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}

.carousel-image {
  height: 50vh !important;
  border-radius: 20px !important;
  object-fit: cover !important;
}

.single-recipe-heading {
  color: black;
  font-family: "Dancing Script", cursive;
  font-size: calc(2.5em + 0.5vw);
  text-align: center;
  margin-bottom: 0;
}

.single-recipe-subheading {
  color: black;
  font-family: "Spectral SC", serif;
  font-size: calc(0.7em + 0.5vw);
  margin-bottom: 1vh;
}

.single-recipe-properties-container {
  width: 80%;
  height: auto;
  margin: 0.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.properties-inner-container {
  margin: 1vh 1vw;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  background-color: rgba(143, 141, 140, 0.05);
  box-shadow: 2px 6px 12px -1px rgba(0, 0, 0, 0.15);
  height: 90%;
  width: 21%;
  min-width: 150px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.properties-text {
  margin-top: 1vh;
  color: black;
  font-family: "Spectral SC", serif;
  font-size: calc(0.7em + 0.5vw);
}

.properties-text-small {
  color: black;
  font-family: "Spectral SC", serif;
  font-size: calc(0.5em + 0.5vw);
}

.single-recipe-icon {
  color: rgb(235, 198, 96);
  font-size: calc(1.5em + 0.7vw);
}

.info-icon {
  margin-top: 1.5vh;
  color: rgb(235, 198, 96);
  font-size: 2em;
}

.single-recipe-difficulty-container {
  width: 90%;
  height: auto;
  border: 1px solid rgb(235, 198, 96);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.single-recipe-icon-greyed-out {
  color: rgb(136, 136, 136);
  opacity: 15%;
  font-size: calc(1.5em + 0.7vw);
}

.about-dish-container {
  margin: 2vh 5%;
  width: 90%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.about-dish-container-inner {
  margin: 2vh 1vw 1vh 1vw;
  width: 90%;
  height: auto;
  border-radius: 5px;
  text-align: justify;
  font-family: "Spectral SC", serif;
  font-size: calc(0.5em + 0.5vw);
}

.ingredients-main-container {
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.ingredients-inner-container {
  padding: 2%;
  padding-right: 4%;
  margin: 1vh 1vw;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  background-color: rgba(143, 141, 140, 0.05);
  box-shadow: 2px 6px 12px -1px rgba(0, 0, 0, 0.15);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ingredients-inner-container li {
  font-size: calc(0.6em + 0.5vw);
}

.ingredients-heading {
  text-align: center;
  font-family: "Arizonia", cursive;
  font-size: calc(1.6em + 0.5vw);
  font-weight: bold;
  margin-bottom: 0;
}

.preparation-container {
  width: 90%;
  margin-left: 5%;
  margin-top: 3vh;
  height: auto;
  text-align: justify;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 15px;
  padding: 50px;
}

.preparation-heading-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5vh;
}

.preparation-main-text {
  font-family: "Scheherazade", serif;
  font-size: calc(1em + 0.5vw);
}

.preparation-icon-circle-behind {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(235, 198, 96);
  width: 100px;
  height: 100px;
  box-shadow: 2px 6px 12px -1px rgba(0, 0, 0, 0.15);
  margin-right: 1.5vw;
}

.preparation-icon {
  color: rgb(255, 255, 255);
  font-size: 3.5em;
}

/* END SINGLE RECIPE PAGE */

/* MISC */

.loading-container {
  width: 100%;
  height: 100%;
  top: 50%;
  font-family: "Spectral SC";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-share-container-outer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
}

.social-share-container-inner {
  margin-left: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40vw;
  height: 5vh;
}

.share-icon {
  color: rgb(104, 99, 84);
  font-size: 2em;
}
