@import url("https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scheherazade&display=swap");


/* Globally used components */
.background-image {
  filter: brightness(100%) sepia(10%);
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.divider-large {
  margin: 1vh;
  width: 85%;
  height: 0.2vh;
  background-color: #b3b1ae;
}

.divider-medium {
  width: 20vw;
  height: 0.2vh;
  background-color: #b3b1ae;
}

.divider-small {
  width: 10vw;
  height: 0.2vh;
  margin: 1vh 0;
  background-color: #b3b1ae;
}
/* End Globally used components */

/* NAVBAR */
.navbar-container {
  margin-left: 0.5vw;
  position: fixed;
  z-index: 10;
  opacity: 0.9;
  width: 95%;
  margin-top: 60px;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-logo {
  z-index: 10;
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 1px solid rgba(107, 12, 12, 0.3);
  box-shadow: 0px 0px 33px -8px rgba(0, 0, 0, 0.35);
}

.navbar-logo:hover {
  filter: brightness(80%) contrast(120%);
}

.navbar-item {
  background-image: linear-gradient(
    to bottom,
    #838080,
    #787677,
    #6d6c6d,
    #636363,
    #595959,
    #595959,
    #595959,
    #595959,
    #636363,
    #6d6c6d,
    #787677,
    #838080
  );
  border: 2px double black;
  border-bottom: 2px double black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 13%;
  height: 100%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Spectral SC", serif;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

/*every item but search bar*/
.navbar-item:not(:nth-child(2)):hover {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transition: 0.05s;
  color: black;
}

#nav-dropdown-kategorien,
#nav-dropdown-artikel {
  width: 15%;
  max-width: 300px;
  color: white;
  text-decoration: none;
}

#nav-dropdown-kategorien:hover,
#nav-dropdown-artikel:hover {
  color: black;
}

.dropdown-menu.show {
  background-image: linear-gradient(
    to bottom,
    #838080,
    #787677,
    #6d6c6d,
    #636363,
    #595959,
    #595959,
    #595959,
    #595959,
    #636363,
    #6d6c6d,
    #787677,
    #838080
  );
}

.dropdown-item {
  color: white !important; /* override Bootstrap CSS*/
}

.dropdown-item:hover {
  color: black !important; /* override Bootstrap CSS*/
}

.dropdown-item:focus {
  background-color: white !important; /* override Bootstrap CSS*/
}

.search-form {
  margin-left: 2vw;
}

/* override Bootstrap CSS */
.search-form:focus {
  box-shadow: 0 0 5px rgba(250, 76, 76, 0.6) !important;
  border: 2px solid rgba(250, 76, 76, 0.6) !important;
}

.search-icon {
  color: white;
  margin-right: 1vw;
}

.search-icon:hover {
  color: black;
}

.navbar-first {
  margin-left: -0.5vw; /* hide behind logo image*/
  width: auto;
  min-width: 340px;
  cursor: inherit;
}

@media only screen and (max-width: 900px) {
  .navbar-logo,
  .navbar-container,
  .navbar-item,
  .search-form {
    display: none;
  }
}

/* END NAVBAR */

/* HOME PAGE */
.home-container {
  position: absolute;
  margin: 12vh 2%;
  width: 96%;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: rgba(245, 243, 243, 0.95);
  box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 900px) {
  .home-container {
    width: 100%;
    margin: 0;
  }
}

.home-row-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 62vw;
}

.home-row-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 30%;
}

@media only screen and (max-width: 900px) {
  .home-row-1 {
    width: 100%;
  }
  .home-row-2 {
    display: none;
  }
}

.home-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  width: 80%;
  margin: 2vh 10%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.4);
}

.home-column-big {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  width: 96%;
  margin: 2vh 0 2vh 4%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 900px) {
  .home-column {
    width: 96%;
    margin: 2vh 2%;
  }

  .home-column-big{
    margin: 3vh 1vw 2vh 1vw;
  }
}

.home-column-row {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 96%;
  margin: 0 2%;
  overflow-x: scroll;
}

.home-column-heading {
  width: 100%;
  height: 3vh;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-family: "Spectral SC", serif;
  font-size: calc(1em + 0.5vw);
  text-align: center;
  font-weight: bold;
}

.carousel-container-home {
  height: 40%;
  width: 90%;
  margin: 1vh 3vw 3vh 3vw;
  box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.carousel-image-home {
  height: 40vh !important;
  width: 100%;
  object-fit: cover;
}

.carousel-text {
  font-family: "Dancing Script", cursive;
  font-size: calc(2.2em + 0.7vw);
  color: rgb(236, 236, 236);
  background-color: rgba(235, 198, 96, 0.7);
  box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.5);
}

.carousel-subtext {
  font-family: "Spectral SC", serif;
  font-size: calc(0.8em + 0.5vw);
  color: rgb(236, 236, 236);
  background-color: rgba(235, 198, 96, 0.7);
  box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.carousel-properties-heading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.carousel-icon {
  padding: 5px;
  color: rgb(255, 250, 236);
  font-size: calc(1.5em + 0.7vw);
}

.carousel-properties-text {
  margin-top: 3vh;
  padding: 5px;
  font-family: "Spectral SC", serif;
  font-size: calc(0.8em + 0.5vw);
  color: rgb(236, 236, 236);
  background-color: rgba(235, 198, 96, 0.7);
  box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.card-container {
  padding: 20px;
  width: 90%;
}

.card-image {
  width: auto;
  height: 160px;
  object-fit: cover;
}

.card-heading {
  height: 6vh;
  overflow: hidden;
  font-family: "Spectral SC", serif;
  font-size: calc(0.8em + 0.4vw);
  color: black;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.card-body {
  overflow: hidden;
  max-height: 25vh;
}

.card-text {
  font-family: "Spectral SC", serif;
  font-size: calc(0.7em + 0.2vw);
  color: black;
}

.featured-recipes-container {
  position: absolute;
  right: 2vw;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  margin-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 15px;
  box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.4);
}

.featured-recipes-heading {
  font-family: "Spectral SC";
  font-size: calc(0.7em + 0.5vw);
  margin: 2vh 1vw 0 1vw;
  text-align: center;
}

.ebook-container {
  margin: 2vh 0;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ebook-cover {
  width: 250px;
  height: 100%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.4);
}

.ebook-cover:hover{
  filter: brightness(40%);
}

.ebook-cover:hover ~ .download-text, .ebook-cover:hover + .download-icon {
  display: flex;
}

.download-icon {
  position: absolute;
  justify-self: center;
  align-self: center;
  display: none;
  color: rgb(235, 198, 96);
  font-size: 3em;
}

.download-text {
  position: absolute;
  transform: translateY(50px); /* stay 50px below Download Icon*/
  display: none;
  justify-self: center;
  align-self: center;
  font-family: "Spectral SC", serif;
  font-size: 1.2em;
  color: rgb(235, 198, 96);
  font-weight: 800;
  letter-spacing: 1px;
}

.article-container {
  width: 80%;
  height: auto;
  margin-top: 2vh;
  padding: 15px;
  font-family: "Spectral SC", serif;
  font-size: 1em;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 10px;
}

/* END HOME PAGE*/



/* FOOTER */
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border: 2px solid cyan;
  background-color: blueviolet;
}

/* END FOOTER */



/* RECIPE LIST CONTAINER */
.recipe-list-container {
  position: relative;
  top: 17vh;
  left: 10%;
  padding: 0 4vw 4vh 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: auto;
  width: 80%;
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.recipe-list-heading-row {
  margin-top: 1vh;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-list-heading {
  margin: 0 1vh;
  color: black;
  font-family: "Spectral SC", serif;
  font-weight: bold;
  font-size: calc(1em + 0.7vw);
}

.recipe-list-entry {
  width: auto;
  height: 15vh;
  margin: 1vh 0;
}
/* END RECIPE LIST CONTAINER */

/* RECIPE SMALL COMPONENT */
.recipe-small-container {
  height: 15vh;
  border: 2px solid red;
  width: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid rgba(151, 151, 151, 0.5);
  border-radius: 15px;
  box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.3);
}

.recipe-small-container:hover {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.recipe-small-column-1 {
  /* border: 2px solid blue; */
  margin-left: 1vw;
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;
  height: 90%;
  display: flex;
  align-self: center;
}

.recipe-small-column-2 {
  /* border: 2px solid purple; */
  width: 90%;
  height: auto;
  max-height: 15vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  overflow: hidden;
}

.recipe-small-row-1 {
  /* border: 2px solid greenyellow; */
  height: 25%;
  width: 100%;
}

.recipe-small-row-2 {
  /* border: 2px solid greenyellow; */
  height: 50%;
  max-height: 15vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .recipe-small-row-2 {
    display: none;
  }
}

.recipe-small-row-3 {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.row-inner-container {
  margin-top: 10px;
  width: auto;
  height: auto;
  max-height: 3vh;
  display: flex;
  flex-direction: row;
  /* border: 2px solid cyan */
}

.recipe-small-image {
  border-radius: 15px;
  width: 160px;
  max-width: 160px;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recipe-small-heading {
  margin-bottom: 3px;
  margin-left: 1vw;
  color: black;
  font-family: "Dancing Script", cursive;
  font-size: calc(1em + 0.7vw);
}

@media only screen and (max-width: 900px) {
  .recipe-small-heading {
    text-align: center;
  }
}

.recipe-small-text {
  margin-left: 1vw;
  width: 95%;
  text-align: justify;
  font-size: 0.8em;
  color: black;
}

.recipe-icon-small {
  margin-right: 7px;
  color: rgb(235, 198, 96);
  font-size: 1.2em;
}

.recipe-subheading-small {
  margin-right: 5px;
  color: rgb(207, 204, 204);
  font-family: "Spectral SC", serif;
  font-size: 1em;
}
/* END RECIPE SMALL COMPONENT */



/* RECIPE TINY COMPONENT */
.recipe-tiny-container {
  height: 15vh;
  width: 220px;
  margin: 0.5vh 0.5vw;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(151, 151, 151, 0.5);
  border-radius: 15px;
  box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.3);
}

.recipe-tiny-container:hover {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.recipe-tiny-heading {
  color: black;
  font-family: "Dancing Script", cursive;
  font-size: calc(0.9em + 0.5vw);
  text-align: center;
  margin-bottom: 10px;
}

.recipe-tiny-row-1 {
  margin-top: 10px;
  width: 90%;
  height: 70%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.recipe-tiny-row-2 {
  margin-top: 2px;
  overflow: hidden;
}

.recipe-tiny-image {
  border-radius: 15px;
  width: 100%;
  max-width: 250px;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}
/* END RECIPe TINY COMPONENT */



/* SINGLE RECIPE PAGE */
.single-recipe-container {
  position: relative;
  top: 17vh;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: auto;
  width: 90%;
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.single-recipe-heading-row {
  margin-top: 1vh;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  height: 40vh;
  width: 70vw;
  margin: 2vh;
}

.carousel-image {
  height: 40vh !important;
  width: 70vw !important;
  object-fit: cover;
  border-radius: 20px !important;
}

.single-recipe-heading {
  color: black;
  font-family: "Dancing Script", cursive;
  font-size: calc(2.5em + 0.5vw);
  text-align: center;
  margin-bottom: 0;
}

.single-recipe-subheading {
  color: black;
  font-family: "Spectral SC", serif;
  font-size: calc(0.7em + 0.5vw);
  margin-bottom: 1vh;
}

.single-recipe-properties-container {
  width: 80%;
  height: auto;
  margin: 0.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.properties-inner-container {
  margin: 1vh 1vw;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  background-color: rgba(143, 141, 140, 0.05);
  box-shadow: 2px 6px 12px -1px rgba(0, 0, 0, 0.15);
  height: 90%;
  width: 21%;
  min-width: 150px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.properties-text {
  margin-top: 1vh;
  color: black;
  font-family: "Spectral SC", serif;
  font-size: calc(0.7em + 0.5vw);
}

.properties-text-small {
  color: black;
  font-family: "Spectral SC", serif;
  font-size: calc(0.5em + 0.5vw);
}

.single-recipe-icon {
  color: rgb(235, 198, 96);
  font-size: calc(1.5em + 0.7vw);
}

.info-icon {
  margin-top: 1.5vh;
  color: rgb(235, 198, 96);
  font-size: 2em;
}

.single-recipe-difficulty-container {
  width: 90%;
  height: auto;
  border: 1px solid rgb(235, 198, 96);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.single-recipe-icon-greyed-out {
  color: rgb(136, 136, 136);
  opacity: 15%;
  font-size: calc(1.5em + 0.7vw);
}

.about-dish-container {
  margin: 2vh 5%;
  width: 90%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.about-dish-container-inner {
  margin: 2vh 1vw 1vh 1vw;
  width: 90%;
  height: auto;
  border-radius: 5px;
  text-align: justify;
  font-family: "Spectral SC", serif;
  font-size: calc(0.5em + 0.5vw);
}

.preparation-ingredients-similiar-recipes {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ingredients-preparation-container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-main-container {
  width: 90%;
  height: auto;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.ingredients-inner-container {
  padding: 2%;
  padding-right: 4%;
  margin: 1vh 1vw;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  background-color: rgba(143, 141, 140, 0.05);
  box-shadow: 2px 6px 12px -1px rgba(0, 0, 0, 0.15);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ingredients-inner-container li {
  font-size: calc(0.6em + 0.5vw);
}

.ingredients-heading {
  text-align: center;
  font-family: "Arizonia", cursive;
  font-size: calc(1.6em + 0.5vw);
  font-weight: bold;
  margin-bottom: 0;
}

.preparation-container {
  height: auto;
  text-align: justify;
  line-height: calc(1em + 0.5vh);
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 15px;
  padding: 40px;
}

.preparation-heading-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.preparation-main-text {
  font-family: "Scheherazade", serif;
  font-size: calc(1em + 0.5vw);
}

.preparation-icon-circle-behind {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(235, 198, 96);
  width: 100px;
  height: 100px;
  box-shadow: 2px 6px 12px -1px rgba(0, 0, 0, 0.15);
  margin-right: 1.5vw;
}

.preparation-icon {
  color: rgb(255, 255, 255);
  font-size: 3.5em;
}

.similar-recipes-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.similar-recipes-heading {
  font-family: "Spectral SC";
  font-size: calc(0.8em + 0.5vw);
  margin-bottom: 0;
  text-align: center;
}
/* END SINGLE RECIPE PAGE */

/* ARTICLE PAGE */
.heading-container {
  width: 90%;
  margin: 0 5%; 
  height: 20vh;
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
}

.heading-column-1 {
  width: 30%;
  height: auto;
  padding: 5px;
}

.heading-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.heading-column-2 {
  width: 70%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.article-heading {
  margin-top: 1vh;
  margin-bottom: 0;
  font-family: "Spectral SC";
  font-size: calc(1.5em + 0.6vw);
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: underline;
}

.article-subheading {
  font-family: "Spectral SC";
  font-size: calc(0.9em + 0.5vw);
  text-align: center;
  letter-spacing: 2px;
}

.main-text-container {
  width: 90%;
  margin: 2vh 5%;
  font-family: "Spectral SC";
  font-size: calc(0.6em + 0.5vw);
  text-align: justify;
}




/* END ARTICLE PAGE */

/* MISC */

.loading-container {
  width: 100%;
  height: 100%;
  top: 50%;
  font-family: "Spectral SC";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-share-container-outer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social-share-container-inner {
  margin-left: 2vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40vw;
  height: 5vh;
}

.share-icon {
  color: rgb(104, 99, 84);
  font-size: 1.3em;
  margin-right: 1vw;
}
